.App {
  text-align: center;
  height: 100% !important;

}

html, body, #root {
  height: 100% !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 100s linear;
  }
}

.skillsLogo{
  height: 20px;
  width: 25px;
}

.skillsContainer
{
  border: #282c34;
  border-width: 1rem;
  text-align: center;
}

.mat-icon-center
{
  display: inline-flex;
  vertical-align: middle;
  font-size: 20px !important;
}

.nav-custom-postion
{
  display: inline-flex;
  vertical-align: middle;
  font-size: 16px !important;
  
}

.nav-custom-postion:hover
{
  display: inline-flex;
  vertical-align: middle;
  font-size: 16px !important;
  text-decoration: underline;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-effect-click
{
  font-size: 18px;
  color:rgb(108, 105, 105) !important ;
  cursor: pointer;   
  border-width: 2px !important;
}

.hover-effect-click:hover
{
  background-color: #4444bb;
  font-size: 18px;
  color:rgb(255, 255, 255) !important ;
  cursor: pointer;   
}

.text-Grey
{
color: #595c65 ;
}


.position-fixed
{
  position: absolute !important;
  /* text-align: center; */
  left: 0 !important;
  top: 0 !important;
  /* margin-top: 100vh; */
  /* right: 0; */
  height: 30px !important;
  width: 100% !important;
  z-index: 10000 !important;
}

.position-bottom
{
  position: absolute !important;
  /* text-align: center; */
  left: 0 ;
  bottom: 0 ;
  
  /* margin-top: 100vh; */
  /* right: 0; */
  height: 30px !important;
  width: 100% !important;
  z-index: 10000 !important;
}